{% extends "layout.twig" %}

{% block title "Declarations" %}


{% block content %}
<h1>Liste des declaration</h1>
<ul>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
    <li>nom de declaration</li>
</ul>
{% endblock %}