{% extends "layout.twig" %}

{% block title "Liste de Exemple" %}


{% block content %}
<h1>Liste les exemples</h1>
<p>
    <ul>
        <li><a href="#">Exemple 1</a></li>
        <li><a href="#">Exemple 2</a></li>
        <li><a href="#">Exemple 3</a></li>
        <li><a href="#">Exemple 4</a></li>
    </ul>
</p>
{% endblock %}